$white_color: #fff;
$light4_color: #f8f8f8;
$light3_color: #e6e6e6;
$light2_color: #d1d1d1;
$light_color: #aaa;

$dark_color: #888;
$black_color: #333;

$blue_color: #441daf;

$red_color: #ad232e;
$light_red_color: #ffccd0;
$dark_red_color: #5a0008;